@model HS.Models.EquipmentViewModel

<h2>Delete</h2>

<form asp-action="Delete">
    <div class="form-group">
        <input asp-for="EquipmentId" type="hidden" />
        <label asp-for="EquipmentName" class="control-label"></label>
        <input asp-for="EquipmentName" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="ManufacturerName" class="control-label"></label>
        <input asp-for="ManufacturerName" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="ModelNumber" class="control-label"></label>
        <input asp-for="ModelNumber" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" disabled />
    </div>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
