
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Institute list</h3>

                </div>

                <div class="row">
                    <!-- /.card-header -->
                    <div class="card-body">

                        <p>Use this page to detail your site's privacy policy.</p>
                        @*<table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr id="tr_id">
                                    <th>INSTITUTE ID</th>
                                    <th>FULL NAME OF INSTITUTION</th>
                                    <th>SHORT NAME</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.InstituteDetails != null)
                                {
                    @foreach (var item in Model.InstituteDetails)
                    {
    <tr id="tr_id">
        <td contenteditable="true">@item.INSTITUTE_ID</td>
        <td contenteditable="true">@item.FULL_NAME_OF_INSTITUTION</td>
        <td contenteditable="true">@item.SHORT_NAME</td>

    </tr>}}
                            </tbody>

                        </table>*@
                    </div>

                </div>

            </div>


        </div>

    </div>

</div>