@model HS.Models.tblEmployee
@{
    ViewData["Title"] = "Employee";
}
<style>
    .card-header {
        background-color: #b8daff;
    }
</style>
<section>
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary mb-2 float-right" asp-area="" asp-controller="Employee" asp-action="AllEmployees">All Employees</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Employee Registration Form</h2>
        </div>
        <div class="card-body">
            <form asp-action="Add" asp-controller="Employee" method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="form-group">

                    <div class="row">
                        <div class="col-lg-6">
                            <label asp-for="Name"></label>
                            <input type="text" class="form-control" id="txtName" asp-for="Name">
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control" id="txtEmail" asp-for="Email" placeholder="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <label asp-for="Phone"></label>
                            <input type="text" class="form-control" id="txtPhone" asp-for="Phone">
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="Photo"></label>
                            <input type="file" class="form-control" id="Photo" asp-for="Photo">
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <label asp-for="Gender"></label>
                            <select class="form-control" asp-for="Gender">
                                <option value="">--Select Gender--</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>

                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label asp-for="DOB"></label>
                            <input type="date" class="form-control" id="txtDob" asp-for="DOB">
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="Salary"></label>
                            <input type="text" class="form-control" id="txtSalary" asp-for="Salary">
                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-lg-12">
                            <label asp-for="Address"></label>
                            <textarea class="form-control" id="txtName" asp-for="Address" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-primary float-right" value="Submit" />
                            <input type="reset" class="btn btn-default float-right" />
                        </div>

                    </div>

                </div>
            </form>
        </div>

    </div>

</section>